[{{ stanza_name }}]
pg1-path=/var/lib/pgsql/14/data

[global]
archive-async=y
log-level-file=detail
repo1-host={{ backup_ip }}
spool-path=/var/spool/pgbackrest 

[global:archive-get]
process-max=1

[global:archive-push]
process-max=1
