<html>
<head>
<title>Пример 1</title>
<style>
  table {
   border-collapse: collapse;
  }
   td { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #333366; 
    border: 1px solid black;
   }
  </style>
</head>
<body>
<H1>Привет, OTUS!</H1>
<P>Мой простейший курсовой проект)</P>
<P> </P>
<form action='script.php' method='POST'>
<input type='submit' name='Нажми' />
</form>


</body>



</html>


